[Unit]
Description=Demo application v0.2.0
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/dns-domain
Environment=IMAGE=marcelharkema/demo-application:0.2.0 CONTAINER=demo-application-v0.2.0
TimeoutStartSec=0
KillMode=none
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/bin/bash -c "/usr/bin/docker inspect ${IMAGE} &> /dev/null || /usr/bin/docker pull ${IMAGE}"
ExecStart=/usr/bin/docker run \
  --rm \
  --name ${CONTAINER} \
  -e SERVICE_ID=${CONTAINER}@%i \
  -e SERVICE_NAME=${CONTAINER} \
  -e SERVICE_FRONTEND_HOST_LOAD_BALANCER=${CONTAINER}.${DNS_DOMAIN} \
  -e SERVICE_FRONTEND_HOST_CONTAINER=instance-%i.${CONTAINER}.${DNS_DOMAIN} \
  -e SERVICE_CHECK_HTTP=/health \
  -e SERVICE_CHECK_INTERVAL=3s \
  -P \
  ${IMAGE}
ExecStop=/usr/bin/docker stop ${CONTAINER}
ExecStopPost=-/usr/bin/docker rm ${CONTAINER}
Restart=always
RestartSec=15s

[X-Fleet]
Conflicts=${CONTAINER}*.service
